/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	margin: 0 auto;
	padding: 10px;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;

	color: rgb(18, 93, 222);
	transition: all 0.3s ease-in-out;
	font-display: swap;
}

* {
	/* outline: 2px solid green; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
